@font-face {
    font-family: 'lato';
    src: url('../../../assets/fonts/lato-light/lato-light.eot');
    src: url('../../../assets/fonts/lato-light/lato-light.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/lato-light/lato-light.woff2') format('woff2'),
         url('../../../assets/fonts/lato-light/lato-light.woff') format('woff'),
         url('../../../assets/fonts/lato-light/lato-light.ttf') format('truetype'),
         url('../../../assets/fonts/lato-light/lato-light.svg#lato') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../../../assets/fonts/lato-regular/lato-regular.eot');
    src: url('../../../assets/fonts/lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/lato-regular/lato-regular.woff2') format('woff2'),
         url('../../../assets/fonts/lato-regular/lato-regular.woff') format('woff'),
         url('../../../assets/fonts/lato-regular/lato-regular.ttf') format('truetype'),
         url('../../../assets/fonts/lato-regular/lato-regular.svg#lato') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../../../assets/fonts/lato-bold/lato-bold.eot');
    src: url('../../../assets/fonts/lato-bold/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/lato-bold/lato-bold.woff2') format('woff2'),
         url('../../../assets/fonts/lato-bold/lato-bold.woff') format('woff'),
         url('../../../assets/fonts/lato-bold/lato-bold.ttf') format('truetype'),
         url('../../../assets/fonts/lato-bold/lato-bold.svg#lato') format('svg');
    font-weight: bold;
    font-style: normal;
}